<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hall</title>
</head>
<body>
    <nav>
        <div class="logo">
            <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIWwBTXLevJltBPVyUYLqnTv1oAb08mL62kHkRS6nwOQ&s"></a>
            
        </div>
        <div clas = "login-container">
            {% if logged_in %}
                <a href="/">Hi {{usename}}</a>
            {% else %}
                <a href = "/login">Login</a>
                <a href="/signup">Sign Up</a>
        </div>
    </nav>
</body>
</html>