<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id = "container">
        <label for="current-films-container">Now Showing</label>
        <div id = "current-films-container"></div>
        <label for = "upcoming-films-container">Upcoming</label>
        <div id = "upcoming-films-container"></div>
    </div>
    <style>
        *{
            padding: 5px;
            margin: 5px;
        }
    </style>
</body>

<script src="{{url_for('static', filename= 'index.js')}}">
    
</script>
</body>
</html>