{% extends "base.html" %}
{% block title %}Welcome {% endblock %}
{% block head %}
<script src="{{url_for('static', filename= 'index.js')}}"></script>
{% endblock %}
{% block content%}
    <div id = "container">
        <label for="current-films-container">Now Showing</label>
        <div id = "current-films-container"></div>
        <label for = "upcoming-films-container">Upcoming</label>
        <div id = "upcoming-films-container"></div>
    </div>
    <style>
        *{
            padding: 5px;
            margin: 5px;
        }
    </style>
{% endblock %}
    
</body>
</html>