{% extends "base.html" %}
{% block title %}Welcome {% endblock %}
{% block head %}
{{super()}}
<link rel="stylesheet" href = "{{url_for('static',filename= 'css/index.css')}}">
<script src="{{url_for('static', filename= 'index.js')}}"></script>
{% endblock %}
{% block content%}
    <div class = "container">
        <div id = "current-films-container">
            <label>Now Showing</label>
        </div>
        <div id = "upcoming-films-container"> 
            <label>Upcoming</label>
        </div>
    </div>
{% endblock %}
    
</body>
</html>