{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{super()}}
<link rel="stylesheet" href = "{{url_for('static',filename='css/login.css')}}">
{% endblock %}
{% block content %}
<div class="container">

    {% if error %}
    <p>Invalid E-mail/Password</p>
    {% endif %}
    <form method="post" action=" {{url_for('login')}} ">
        <label>Login</label>
        <input id = "email" name = "email" type="text" placeholder="E-mail" class="textbox">
        <input id = "password" name = "password" type="password" placeholder="password" class="textbox">
        <input type="submit" class="button" value = "Login">
    </form>
</div>
{% endblock %}